.musicplayer {
  &__container {
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    i {
      padding: 1em;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-around;
  }
  &__bar {
    align-self: center;
  }
}
