$dim-grey: #3c3c3c;
$white: #eee;
$box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

@media (hover: hover) {
  .item {
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-top: 0.5em;
    cursor: pointer;
  }
  .item:hover,
  .item:focus {
    background-color: #4d4d4d;
    -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
