$dim-grey: #3c3c3c;
$white: #eee;
body {
  background-color: $dim-grey;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  color: $white;
}

.page {
  display: flex;
  justify-content: center;
}

.app-item {
  font-size: 24px;
}
