@import '../../styles/default.scss';

.box-shadow {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

body {
  background-color: $dim-grey;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  color: $white;
}

.page {
  display: flex;
  justify-content: center;
}

.app-item {
  font-size: 24px;
}
